header{
  height: 46px;
  background: #7ea9d4;
  box-shadow: 0 1px 1px rgba(0,0,0, .25);
  position: relative;
  z-index: 1;
}

.content{
  align-items: center;
  margin: 0 auto;
  padding: 0 30px;
}

img{
  height: 28px;
  margin: 0 15px
}

div.content{
  display:flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

div.profile{
  display:flex;
  cursor: pointer;
}

div.profile strong{
  display:flex;
  align-items: center;
  justify-content: center;

  color: #ffffff;
  border: 0;
}